.mselector{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}

.mselector .picker{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40%;
	background-color: #ffffff;
}

.mselector .tools-box{
	position: relative;
    width: 100%;
    height: 20%;
	font-size: 18px;
	color: #0575f2;
}

.mselector .ok{
	float: right;
	margin: 8px 18px 8px 18px;
}

.mselector .cancel{
	float: left;
	margin: 8px 18px 8px 18px;
}

.mselector .waiting-wrapper{
	position: absolute;
	top: 0;
	left: 43%;
	display: none;
}

.mselector .wait {
	width: 12px;
	height: 12px;
	background-color: #0575f2;
	float: left;
	margin-right: 5px;
	margin-top: 15px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

.mselector .wait.o1 {
	-webkit-animation: o1 1.5s infinite;
	animation: o1 1.5s infinite;
}

.mselector .wait.o2 {
	-webkit-animation: o1 1.5s infinite;
	animation: o1 1.5s infinite;
	-webkit-animation-delay: 0.25s; 
	animation-delay: 0.25s;
}

.mselector .wait.o3 {
	-webkit-animation: o1 1.5s infinite;
	animation: o1 1.5s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;

}

@-webkit-keyframes o1 {
	75% { -webkit-transform: scale(0.7); }
}

@keyframes o1 {
	75% { 
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
	}
}

.mselector .content-wrapper{
	position: relative;
	width: 100%;
	height: 80%;
	overflow: hidden;
	-webkit-mask: -webkit-linear-gradient(top, #debb47 55%, rgba(36, 142, 36, 0));
}
.mselector .content-selected{
	position: absolute;
	top: 40%;
	width: 100%;
	height: 20%;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.mselector .content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-mask: -webkit-linear-gradient(bottom, #debb47 55%, rgba(36, 142, 36, 0));
}
.mselector .content .column{
	position: relative;
	float: left;
	text-align: center;
	height: 100%;
}

.mselector .content .column .item{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 20%;
	font-size: 18px;
}