<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fs.bsc.flow.editor.FlowEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="bsc"
            icon="icons/sample.gif"
            id="org.fs.bsc.flow.editor.FlowEditor"
            name="BSC Flow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <category
		        id="org.fs.bsc.flow.editor"
		        name="BSC Flow">
		</category>
		<wizard
	        category="org.fs.bsc.flow.editor"
	        class="org.fs.bsc.flow.editor.wizard.BscFlowNewWizard"
	        icon="icons/sample.gif"
	        id="org.fs.bsc.flow.editor.wizard.BscFlowNewWizard"
	        name="BSC file">
	  </wizard>
   </extension>

</plugin>
